
.venv/*

*/.ipynb_checkpoints/*
*/__pycache__/*
*/node_modules/*

minio/*
!minio/.gitkeep

*.csv

*.jar

*.der
*.pyc
*.DS_Store

*.txt
!requirements.txt

*.json
!pgadmin/servers.json

.env

spark/seed/nessie/*
!spark/seed/nessie/__init__.py
!spark/seed/nessie/iceberg_DDL.ipynb

spark/seed/unity/*
!spark/seed/unity/__init__.py
!spark/seed/unity/delta_DDL.ipynb

airflow/logs/*
airflow/config/*
airflow/dags/*
airflow/plugins/*

!airflow/logs/.gitkeep
!airflow/config/.gitkeep
!airflow/dags/.gitkeep
!airflow/plugins/.gitkeep
