
.venv/*

*/.ipynb_checkpoints/*
*/__pycache__/*
*/node_modules/*

minio/*
!minio/.gitkeep

*.csv

.env

spark/nessie/*
!spark/nessie/__init__.py
!spark/nessie/DDL.ipynb

spark/unity/*
!spark/unity/__init__.py
!spark/unity/iceberg_DDL.ipynb

airflow/logs/*
airflow/config/*
airflow/dags/*
airflow/plugins/*

!airflow/logs/.gitkeep
!airflow/config/.gitkeep
!airflow/dags/.gitkeep
!airflow/plugins/.gitkeep
